<link rel="stylesheet" href="./views/usuarios/componentes/styles/sidebar.css">




<!--sidebar on top of everything using bootstrap and grid-->
<div class="row">
    <div class="col-2">
        <!--button that calls openNav()-->
        <button class="openbtn" onclick="openNav()">☰</button>

        <div class="sidebar">
            <!--button to hide sidebar-->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">❌</a>
            <a href="./studentPanel.php">Inici</a>
            <a href="./studentCourses.php">Cursos 👨‍🎓</a>
            <a href="./studentEnrollments.php">Matriculas 📋</a>
            <a href="/logout.php">Cerrar sessió</a>
        </div>

    </div>
    <div class="col-10">

    </div>



    <script>
        closeNav();

        function openNav() {
            document.getElementsByClassName("sidebar")[0].style.width = "250px";
        }

        function closeNav() {
            document.getElementsByClassName("sidebar")[0].style.width = "0";
        }
    </script>
</div>

