<link rel="stylesheet" href="./views/usuarios/componentes/styles/sidebar.css">

<!--sidebar on top of everything using bootstrap and grid-->
<div class="row">
    <div class="col-2">
        <div class="sidebar">
            <!--button to hide sidebar-->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">❌</a>
            <a href="./teacherPanel.php">Inici</a>
            <a href="./teacherCourses.php">Cursos 👨‍🎓</a>
            <a href="./index.php?controller=Usuario&action=logout">Tancar sessió ❌</a>
        </div>
        <!--button that calls openNav()-->
        <button class="openbtn" onclick="openNav()">☰</button>

    </div>
    <div class="col-10">

    </div>
</div>



<script>
    closeNav();

    function openNav() {
        document.getElementsByClassName("sidebar")[0].style.width = "250px";
    }

    function closeNav() {
        document.getElementsByClassName("sidebar")[0].style.width = "0";
    }
</script>