@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
    font: 14px 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

#rainbow-title {
    background-image: linear-gradient(to right, rgb(112, 196, 189), rgb(116, 132, 187), rgb(0, 195, 255), rgb(69, 105, 116), rgb(70, 70, 172), rgb(44, 30, 128), rgb(15, 8, 83));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#imgAjuntament {
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    color: #004aad;
}

label {
    color: #004aad;
}

.wrapper {
    width: 360px;
}

.submit-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
}

.form-control {
    background-color: #b5e6e8;
    color: white;
    font-weight: bold;
    border-radius: 15px;

}

.btn {
    background-color: #38b6ff;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}